# Python
**/__pycache__/
controllers/__pycache__/
models/__pycache__/
views/__pycache__/
database/__pycache__/
tests/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/


# Project specific
Backup_*/
**.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
.env

# Coverage data
.coverage
coverage.xml
htmlcov/